<html>
  <head>
    <title>Add Expense</title>
  </head>
  <body>
    <h1>Add Expense</h1>
    <input type="radio" name="expense-income" value="expense" checked>
    Expense
  </label>
  <label>
    <input type="radio" name="expense-income" value="income">
    Income
  </label><br><br>
    <form method="post" action="/add_expense">
      <label>Name:</label>
      <input type="text" name="name"><br><br>
      <label>Cost:</label>
      <input type="number" name="cost" step="0.01"><br><br>
      <label>Date:</label>
      <input type="date" name="date" value="{{ today }}"><br><br>
      <label>
        <label>Category:</label>
        <select name="category" onchange="showOtherOption(this)">
          {% for category in categories %}
          <option value="{{ category }}">{{ category }}</option>
          {% endfor %}
          <option value="other">Other</option>
        </select>
        <input type="text" name="other_category" id="other-category" style="display: none;">
        <script>
        function showOtherOption(select) {
          var otherInput = document.getElementById('other-category');
          if (select.value == 'other') {
            otherInput.style.display = 'inline-block';
            otherInput.focus();
          } else {
            otherInput.style.display = 'none';
          }
        }
        </script><br><br>
      <input type="submit" value="Add Expense" id="add-expense-btn">
    </form>
</html>